<div><%= link_to 'Back', movies_path %></div>
<div><%= link_to 'Edit', edit_movie_path %></div>
<div><%= link_to 'New Review', new_movie_review_path(@movie) %></div>
<%= flash[:notice] %>
<div>
  <h1><%= @movie.title %></h1>
  <p><%= link_to image_tag(@movie.poster), @movie.poster %></p>
  <p><%= @movie.rotten_tomatoes_score %></p>
  <p><%= @movie.genre %></p>
</div>

<h2>Reviews for this movie:</h2>
<% @movie.reviews.each do |review| %>
  <p>
    <%= link_to review.title, movie_review_path(@movie, review) %> <%= review.user.name %>
  </p>
<% end %>

